<h3>Hääilmoittautuminen</h3>

Osallistuu: {{ data.isattending }}<br>
Nimi / Nimet: {{ data.name }}<br>
Allergiat: {{ data.allergies }}<br>
Biisitoiveet: {{ data.musicwishes }}<br>
Huomiot: {{ data.notices }}<br>
Taksi: {{ data.taxi }}<br>
Salasana: {{ data.password }}