<h3>Hääilmoittautuminen</h3>

Osallistuu: {{ data.isattending }}
Nimi: {{ data.name }}
Allergiat: {{ data.allergies }}
Biisitoiveet: {{ data.musicwishes }}
Huomiot: {{ data.notices }}
Salasana: {{ data.password }}