{# app/Resources/views/wedding/accommodation.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: {{ labels.accommodationsite }}{% endblock %}

{% block pageheader %}{{ labels.accommodationsite }}{% endblock %}


{% block body %}
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>{{ labels.hotels }}</h3>
				<div>
					<a href="https://www.laplandhotels.com/EN/urban-hotels/oulu/lapland-hotel-oulu-2.html" target="_blank">Lapland Hotel Oulu</a>
				</div>
				<div>
					<a href="https://www.sokoshotels.fi/en/oulu/sokos-hotel-eden" target="_blank">Break Sokos Hotel Eden</a>
				</div>
				<div>
					<a href="http://lasaretti.com/en/" target="_blank">Hotel Lasaretti</a>
				</div>
				<div>
					<a href="https://www.radissonblu.com/en/hotel-oulu" target="_blank">Radisson Blu Hotel</a>
				</div>
				<div>
					<a href="https://www.cumulus.fi/en/hotels/cumulus-oulu" target="_blank">Hotel Cumulus</a>
				</div>
				<div>
					<a href="https://www.sokoshotels.fi/en/oulu/sokos-hotel-arina" target="_blank">Sokos Hotel Arina</a>
				</div>
				<div>
					<a href="https://www.scandichotels.de/hotelsuche/finnland/oulu?_ga=1.215166738.428594344.1478438909" target="_blank">Scandic Hotel</a>
				</div>
				<div>
					<a href="http://www.hotelapollo.fi/en/" target="_blank">Hotel Apollo</a>
				</div>
				
				
				<h3>{{ labels.rentableaccommodations }}</h3>
				<div>
					<a href="http://forenom.fi/en/apartments-by-city/oulu/" target="_blank">Forenom</a>
				</div>
				<div>
					<a href="http://www.kotimaailma.com/en/cities-and-apartments/oulu" target="_blank">Kotimaailma</a>
				</div>
				<div>
					<a href="http://www.nallisuites.net/english/index.php" target="_blank">Nallisuites</a>
				</div>
				
			</div>
		</div>
	</div>
	
	<!-- /.row -->
{% endblock %}	
		