{% form_theme form 'bootstrap_3_layout.html.twig' %}
{# app/Resources/views/wedding/registration.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: {{ labels.registrationsite }}{% endblock %}

{% block pageheader %}{{ labels.registrationsite }}{% endblock %}

{% block body %}
	<div class="col-md-12">
		<div class="panel panel-default">
			<div id="registrationformdiv" class="panel-body">
				<p>
					{{ form_start(form) }}
					{{ form_widget(form) }}

					<input class="btn" type="submit" id="submitregistration" value="{{ labels.send }}" />
					
					{{ form_end(form) }}
					
					
				</p>
				
			</div>
		</div>
	</div>
	
	<!-- /.row -->
{% endblock %}	
		